{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Enquiry{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block container %}
<div style = "padding:50px;" class="container">
{% for i,j,k,l,m,n,o in enquiry %}
{{ i }} || {{ j }}  || {{ l|date:'H:i' }} ||  {{ m|date:'H:i' }}  || {{ n }} ||{% for x, y in o.iteritems %}
		<a href="{% url 'ticket:booking' x %}">{{ y }}</a>{% if not forloop.last %} | {% endif %} {% endfor %}
{% endfor %}
</div>



{% endblock container %}