{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Route{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block container %}
<table style = "margin:50px" class="table table-responsive table-bordered">
<th>{{trainId}} | {{trainName}}</th>
	<tr>
		<th>Station</th>
		<th>Arrival Time</th>
		<th>Departure Time</th>
	</tr>
{% for i in route %}
	{% for values in i %}
<tr>
	<td>{{ values.schedule__station }}</td>
	<td>{{ values.schedule__arrival }}</td>
	<td>{{ values.schedule__departure }}</td>
</tr>
	{% endfor %}
{% endfor %}
</table>

{% endblock container %}