{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Route{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block container %}
<div style = "margin:50px">
{{trainId}} | {{trainName}}
</div>
<div class = "row">
	<div class = "col-md-4"><strong>Station</strong></div>
	<div class = "col-md-4"><strong>Arrival Time</strong></div>
	<div class = "col-md-4"><strong>Departure Time</strong></div>
</div>
	
<div class = "row">
{% for i in route %}
	{% for values in i %}
	<div class = "col-md-4">{% if values.schedule__station %}{{ values.schedule__station }}{% endif %}</div>
	<div class = "col-md-4">{% if values.schedule__arrival %}{{ values.schedule__arrival }}{% endif %}</div>
	<div class = "col-md-4">{% if values.schedule__departure %}{{ values.schedule__departure }}{% endif %}</div>
	</br>
	{% endfor %}
{% endfor %}
</table>

{% endblock container %}