{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Route{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block container %}

<div class = "row" style = "padding:100px 0 0 100px">
<div class = "col-md-2">
<strong>Train Number</strong>
</div>
<div class = "col-md-2">
<strong>Train Name</strong>
</div>
<hr>
</div>
<div class = "row" style = "padding-left:100px">
<div class = "col-md-2">
{% for i in train.number %}
<a href="{% url 'route' i  %}">{{ i }}</a></br>
{% endfor %}
</div>
<div class = "col-md-2">
{% for i in train.name %}
{{ i }}</br>
{% endfor %}
</div>
</div>

{% endblock container %}